*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
text-align: center;
    height: 100vh;
  font-family: "Vazirmatn", sans-serif;
  max-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
header{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{

    display: block;
    width: 250px;

}
main{
    width: 100%;
    padding: 20px;
    flex-grow: 1;
}

.english-header {
    margin-top: 50px;
margin-bottom: 20px;
  direction: ltr;
}
.farsi-header {
    margin-top: 25px;
margin-bottom: 15px;
  direction: rtl;
}

.english-text {
  direction: ltr;
}
.farst-text {
  direction: rtl;
}
footer{
    width: 100%;
    background: black;
    color: white;
    padding: 20px;
    font-size: 18px;
}

.contact{
    margin-top: 80px;
}
a{
    display: block;
    color: black;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
}

